
.bx--header{
    position: static;
    z-index: 0;
}

.caption {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}


.container--g10 {
    background: #f4f4f4;
    color: #161616;
}

.footer{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 1em;
}

p {
    margin: 1em
}

ul {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.16px;
  margin-left: 2.5rem;
  list-style: none;
}

li {
  color: #161616;
  font-size: 16px;
}

li {
  padding-left: 0.25rem;
}


li {
  position: relative;
}

h2 {
    margin-bottom: 0;
    margin-top: 1rem;
}

ul > li::before {
  position: absolute;
  left: -1rem;
  content: '\002013';
}



main {
  padding-top: 3rem
}


.bx--data-table-container {
  padding-top: 0.125rem;
}

.bx--data-table-content {
  overflow-x: auto;
}

.bx--data-table-header {
  padding: 1rem 0 1.5rem 1rem;
  background: #f4f4f4;
}

.bx--data-table-header__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #161616;
}

.bx--data-table-header__description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: #525252;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-height: 600px;
  max-width: 90%;
}

table {
  width: 50%;
  min-width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table thead {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 0.16px;
  background-color: #e0e0e0;
}

table tbody {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.16px;
  width: 100%;
  background-color: #f4f4f4;
}

table tr {
  width: 100%;
  height: 3rem;
  border: none;
}

table tbody tr,
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 70ms cubic-bezier(0, 0, 0.38, 0.9);
  transition: background-color 70ms cubic-bezier(0, 0, 0.38, 0.9);
}

table tbody tr:hover {
  background: #e5e5e5;
}

table tbody tr:hover td,
table tbody tr:hover th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #e5e5e5;
  color: #161616;
}

table tbody tr:hover td .bx--link,
table tbody tr:hover th .bx--link {
  color: #0043ce;
}

table th,
table td {
  text-align: left;
  vertical-align: middle;
}

table th[align='right'],
table td[align='right'] {
  text-align: right;
}

table th[align='center'],
table td[align='center'] {
  text-align: center;
}

table th {
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #e0e0e0;
  color: #161616;
}

table th:last-of-type {
  position: static;
  width: auto;
}

table td,
table tbody th {
  padding-right: 1rem;
  padding-left: 1rem;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #e0e0e0;
  background: #f4f4f4;
  color: #525252;
}

table td + td:first-of-type,
table tbody th + td:first-of-type {
  padding-left: 0.75rem;
}

@supports (-moz-appearance: none) {
  table td {
    background-clip: padding-box;
  }
}

table .bx--list-box input[role='combobox'],
table .bx--list-box input[type='text'],
table .bx--dropdown,
table .bx--list-box,
table .bx--number input[type='number'],
table .bx--number__control-btn::before,
table .bx--number__control-btn::after,
table .bx--text-input,
table .bx--select-input {
  background-color: #ffffff;
}

.bx--data-table
td.bx--table-column-menu
.bx--overflow-menu[aria-expanded='false']:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
}

@media screen and (prefers-contrast) {
  .bx--data-table
td.bx--table-column-menu
.bx--overflow-menu[aria-expanded='false']:focus {
    outline-style: dotted;
  }
}

.bx--data-table
td.bx--table-column-menu
.bx--overflow-menu[aria-expanded='true']:focus {
  outline: none;
}

@media screen and (hover: hover), (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bx--data-table
td.bx--table-column-menu
.bx--overflow-menu
.bx--overflow-menu__icon {
    opacity: 0;
  }
}

.bx--data-table
td.bx--table-column-menu
.bx--overflow-menu.bx--overflow-menu--open
.bx--overflow-menu__icon {
  opacity: 1;
}

.bx--data-table.bx--data-table--visible-overflow-menu
td.bx--table-column-menu
.bx--overflow-menu
.bx--overflow-menu__icon,
.bx--data-table
td.bx--table-column-menu
.bx--overflow-menu:hover
.bx--overflow-menu__icon,
.bx--data-table
td.bx--table-column-menu
.bx--overflow-menu:focus
.bx--overflow-menu__icon,
.bx--data-table
tr:hover
td.bx--table-column-menu
.bx--overflow-menu
.bx--overflow-menu__icon {
  opacity: 1;
}

.bx--table-row--menu-option
.bx--overflow-menu-options__btn
.bx--overflow-menu-options__option-content
svg {
  position: relative;
  top: 0.1875rem;
  margin-right: 0.5rem;
}

table .bx--overflow-menu:hover,
table .bx--overflow-menu__trigger:hover {
  background-color: #cacaca;
}

.bx--data-table--selected .bx--overflow-menu:hover,
.bx--data-table--selected .bx--overflow-menu__trigger:hover {
  background-color: #e5e5e5;
}

.bx--data-table--selected .bx--link {
  color: #0043ce;
}

.bx--data-table--compact td.bx--table-column-menu,
.bx--data-table--xs td.bx--table-column-menu,
.bx--data-table--short td.bx--table-column-menu,
.bx--data-table--sm td.bx--table-column-menu {
  height: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.bx--data-table--short td.bx--table-column-menu,
.bx--data-table--sm td.bx--table-column-menu {
  height: 2rem;
}

.bx--data-table--md td.bx--table-column-menu {
  height: 2.5rem;
}

.bx--data-table--tall .bx--table-column-menu,
.bx--data-table--xl .bx--table-column-menu {
  padding-top: 0.5rem;
}

.bx--data-table--zebra
tbody
tr:not(.bx--parent-row):nth-child(odd)
td {
  border-bottom: 1px solid #f4f4f4;
}

.bx--data-table--zebra
tbody
tr:not(.bx--parent-row):nth-child(even)
td {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #e0e0e0;
}

.bx--data-table--zebra
tbody
tr:not(.bx--parent-row):hover
td {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.bx--table-column-checkbox .bx--checkbox-label {
  padding-left: 0;
}

table th.bx--table-column-checkbox {
  position: static;
  width: 2rem;
  background: #e0e0e0;
  -webkit-transition: background-color 70ms cubic-bezier(0, 0, 0.38, 0.9);
  transition: background-color 70ms cubic-bezier(0, 0, 0.38, 0.9);
}

.bx--data-table
.bx--table-column-checkbox
.bx--checkbox:focus
+ .bx--checkbox-label::before {
  outline-offset: 0.375rem;
}

.bx--data-table--compact
.bx--table-column-checkbox
.bx--checkbox:focus
+ .bx--checkbox-label::before,
.bx--data-table--xs
.bx--table-column-checkbox
.bx--checkbox:focus
+ .bx--checkbox-label::before {
  outline-offset: 0.125rem;
}

table thead th.bx--table-column-checkbox,
table tbody td.bx--table-column-checkbox,
table thead th.bx--table-expand,
table tbody td.bx--table-expand {
  min-width: 0;
}

table thead th.bx--table-column-checkbox,
table tbody td.bx--table-column-checkbox {
  padding-right: 0.25rem;
  padding-left: 1rem;
}

table thead th.bx--table-expand,
table tbody td.bx--table-expand {
  width: 2rem;
  height: 2rem;
}

.bx--data-table--compact thead th.bx--table-expand,
.bx--data-table--compact tbody td.bx--table-expand,
.bx--data-table--xs thead th.bx--table-expand,
.bx--data-table--xs tbody td.bx--table-expand {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
}

.bx--data-table--short thead th.bx--table-expand,
.bx--data-table--short tbody td.bx--table-expand,
.bx--data-table--sm thead th.bx--table-expand,
.bx--data-table--sm tbody td.bx--table-expand {
  width: 2rem;
  height: 2rem;
  padding: 0;
  padding-left: 0.5rem;
}

.bx--data-table--md thead th.bx--table-expand,
.bx--data-table--md tbody td.bx--table-expand {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.bx--data-table--tall thead th.bx--table-expand,
.bx--data-table--tall tbody td.bx--table-expand,
.bx--data-table--xl thead th.bx--table-expand,
.bx--data-table--xl tbody td.bx--table-expand {
  height: 4rem;
  padding-top: 0.625rem;
  padding-bottom: 1.375rem;
}

.bx--data-table--tall .bx--table-column-checkbox,
.bx--data-table--xl .bx--table-column-checkbox {
  padding-top: 0.8125rem;
}

.bx--data-table--tall .bx--table-column-radio,
.bx--data-table--xl .bx--table-column-radio {
  padding-top: 1rem;
}

.bx--date-table tbody th.bx--table-column-checkbox:hover {
  background: #cacaca;
}

.bx--table-column-radio {
  width: 48px;
}

.bx--table-column-radio .bx--radio-button__appearance {
  margin-right: -0.125rem;
}

.bx--data-table--zebra
tbody
tr:nth-child(odd).bx--data-table--selected
td,
tr.bx--data-table--selected td {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #c6c6c6;
  background-color: #e0e0e0;
  color: #161616;
}

.bx--data-table--zebra
tbody
tr:first-of-type:nth-child(odd).bx--data-table--selected
td,
tr.bx--data-table--selected:first-of-type td {
  border-top: 1px solid #c6c6c6;
}

.bx--data-table--zebra
tbody
tr:last-of-type:nth-child(odd).bx--data-table--selected
td,
.bx--data-table--zebra
tbody
tr:last-of-type:nth-child(even).bx--data-table--selected
td,
tr.bx--data-table--selected:last-of-type td {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.bx--data-table--zebra
tbody
tr:nth-child(even).bx--data-table--selected
td {
  border-bottom: 1px solid #c6c6c6;
}

.bx--data-table--zebra
tbody
tr:nth-child(even).bx--data-table--selected:hover
td {
  border-bottom: 1px solid #cacaca;
}

.bx--data-table--zebra
tbody
tr:nth-child(odd).bx--data-table--selected:hover
td,
table tbody .bx--data-table--selected:hover td {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background: #cacaca;
  color: #161616;
}

.bx--data-table--selected
.bx--overflow-menu
.bx--overflow-menu__icon {
  opacity: 1;
}

.bx--data-table--compact thead tr,
.bx--data-table--compact tbody tr,
.bx--data-table--compact tbody tr th {
  height: 1.5rem;
}

.bx--data-table--compact .bx--table-header-label {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.bx--data-table--compact td,
.bx--data-table--compact tbody tr th {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.bx--data-table--compact .bx--overflow-menu {
  width: 2rem;
  height: 100%;
}

.bx--data-table.bx--data-table--compact
.bx--table-column-checkbox {
  padding-top: 0;
  padding-bottom: 0;
}

.bx--data-table.bx--data-table--compact
.bx--table-column-checkbox
.bx--checkbox-label {
  height: 1.4375rem;
  min-height: 1.4375rem;
}

.bx--data-table--xs thead tr,
.bx--data-table--xs tbody tr,
.bx--data-table--xs tbody tr th {
  height: 1.5rem;
}

.bx--data-table--xs .bx--table-header-label {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.bx--data-table--xs td,
.bx--data-table--xs tbody tr th {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.bx--data-table--xs .bx--overflow-menu {
  width: 2rem;
  height: calc(100% + 1px);
}

.bx--data-table.bx--data-table--xs
.bx--table-column-checkbox {
  padding-top: 0;
  padding-bottom: 0;
}

.bx--data-table.bx--data-table--xs
.bx--table-column-checkbox
.bx--checkbox-label {
  height: 1.4375rem;
  min-height: 1.4375rem;
}

.bx--data-table--short thead tr,
.bx--data-table--short tbody tr,
.bx--data-table--short tbody tr th {
  height: 2rem;
}

.bx--data-table--short .bx--table-header-label {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.bx--data-table--short td,
.bx--data-table--short tbody tr th {
  padding-top: 0.4375rem;
  padding-bottom: 0.375rem;
}

.bx--data-table.bx--data-table--short
.bx--table-column-checkbox {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.bx--data-table--short .bx--overflow-menu {
  height: 100%;
}

.bx--data-table--sm thead tr,
.bx--data-table--sm tbody tr,
.bx--data-table--sm tbody tr th {
  height: 2rem;
}

.bx--data-table--sm .bx--table-header-label {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.bx--data-table--sm td,
.bx--data-table--sm tbody tr th {
  padding-top: 0.4375rem;
  padding-bottom: 0.375rem;
}

.bx--data-table.bx--data-table--sm
.bx--table-column-checkbox {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.bx--data-table--sm .bx--overflow-menu {
  height: calc(100% + 1px);
}

.bx--data-table--md thead tr,
.bx--data-table--md tbody tr,
.bx--data-table--md tbody tr th {
  height: 2.5rem;
}

.bx--data-table--md .bx--table-header-label {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.bx--data-table--md td,
.bx--data-table--md tbody tr th {
  padding-top: 0.4375rem;
  padding-bottom: 0.375rem;
}

.bx--data-table.bx--data-table--md
.bx--table-column-checkbox {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.bx--data-table--md .bx--table-column-menu {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.bx--data-table--tall thead tr,
.bx--data-table--tall tbody tr,
.bx--data-table--tall tbody tr th {
  height: 4rem;
}

.bx--data-table--tall .bx--table-header-label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bx--data-table--tall td,
.bx--data-table--tall tbody tr th {
  padding-top: 1rem;
}

.bx--data-table--tall th,
.bx--data-table--tall td {
  vertical-align: top;
}

.bx--data-table--tall .bx--data-table--cell-secondary-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.34;
  letter-spacing: 0.32px;
}

.bx--data-table--xl thead tr,
.bx--data-table--xl tbody tr,
.bx--data-table--xl tbody tr th {
  height: 4rem;
}

.bx--data-table--xl .bx--table-header-label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bx--data-table--xl td,
.bx--data-table--xl tbody tr th {
  padding-top: 1rem;
}

.bx--data-table--xl th,
.bx--data-table--xl td {
  vertical-align: top;
}

.bx--data-table--xl .bx--data-table--cell-secondary-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.34;
  letter-spacing: 0.32px;
}

.bx--data-table--static {
  width: auto;
}

.bx--data-table_inner-container {
  background-color: #e0e0e0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.bx--data-table--sticky-header {
  display: block;
  overflow-y: scroll;
  /* When using sticky header, with a selection element in the first column, we need to set the last item to a fixed width to match the table body. We only want this to happen when the last table header does not have any text */
}

.bx--data-table--sticky-header thead,
.bx--data-table--sticky-header tbody,
.bx--data-table--sticky-header tr,
.bx--data-table--sticky-header th,
.bx--data-table--sticky-header td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bx--data-table--sticky-header thead {
  position: sticky;
  z-index: 1;
  top: 0;
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  will-change: transform;
}

.bx--data-table--sticky-header thead tr th {
  border-bottom: 1px solid #c6c6c6;
}

.bx--data-table--sticky-header tbody {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-overflow-style: none;
  overflow-x: scroll;
  will-change: transform;
}

.bx--data-table--sticky-header tr.bx--parent-row.bx--expandable-row {
  height: auto;
  min-height: 3rem;
}

.bx--data-table--sticky-header tr.bx--expandable-row:not(.bx--parent-row) {
  height: auto;
}

.bx--data-table--sticky-header .bx--table-expand {
  max-width: 3rem;
}

.bx--data-table--sticky-header thead .bx--table-expand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bx--data-table--sticky-header .bx--parent-row {
  min-height: 3rem;
}

.bx--data-table--sticky-header:not(.bx--data-table--compact):not(.bx--data-table--xs):not(.bx--data-table--tall):not(.bx--data-table--xl):not(.bx--data-table--short):not(.bx--data-table--sm) td:not(.bx--table-column-menu):not(.bx--table-column-checkbox) {
  padding-top: 0.875rem;
}

.bx--data-table--sticky-header tr.bx--parent-row.bx--expandable-row:hover
+ tr[data-child-row]
td {
  border-top: 1px solid #e5e5e5;
}

.bx--data-table--sticky-header tr.bx--expandable-row:last-of-type {
  overflow: hidden;
}

.bx--data-table--sticky-header tr.bx--data-table--selected:first-of-type td {
  border-top: none;
}

.bx--data-table--sticky-header thead th.bx--table-column-checkbox,
.bx--data-table--sticky-header tbody tr td.bx--table-column-checkbox {
  width: 2.25rem;
  min-width: 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bx--data-table--sticky-header.bx--data-table--tall thead th.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--xl thead th.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--tall td.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--xl td.bx--table-column-checkbox {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bx--data-table--sticky-header th.bx--table-column-checkbox ~ th:last-of-type:empty {
  max-width: 4rem;
}

.bx--data-table--sticky-header th:empty:not(.bx--table-expand) {
  max-width: 2.25rem;
}

.bx--data-table--sticky-header td.bx--table-column-menu {
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

.bx--data-table--sticky-header thead::-webkit-scrollbar,
.bx--data-table--sticky-header tbody::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  .bx--data-table--sticky-header thead,
  .bx--data-table--sticky-header tbody {
    scrollbar-width: none;
  }
}

.bx--data-table--sticky-header tbody tr:last-of-type {
  border-bottom: 0;
}

.bx--data-table--sticky-header th:not(.bx--table-column-checkbox):not(.bx--table-column-menu):not(.bx--table-expand-v2):not(.bx--table-column-icon),
.bx--data-table--sticky-header td:not(.bx--table-column-checkbox):not(.bx--table-column-menu):not(.bx--table-expand-v2):not(.bx--table-column-icon) {
  width: 100%;
  min-width: 0;
}

.bx--data-table--sticky-header.bx--data-table--compact tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--xs tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--short tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--sm tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--tall tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--xl tr:not(.bx--expandable-row) {
  height: auto;
}

.bx--data-table--sticky-header.bx--data-table--compact tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--xs tr:not(.bx--expandable-row) {
  min-height: 1.5rem;
}

.bx--data-table--sticky-header.bx--data-table--short tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--sm tr:not(.bx--expandable-row) {
  min-height: 2rem;
}

.bx--data-table--sticky-header.bx--data-table--tall tr:not(.bx--expandable-row),
.bx--data-table--sticky-header.bx--data-table--xl tr:not(.bx--expandable-row) {
  min-height: 4rem;
}

.bx--data-table--sticky-header.bx--data-table--compact tr td.bx--table-expand,
.bx--data-table--sticky-header.bx--data-table--xs tr td.bx--table-expand {
  padding-top: 0.25rem;
}

.bx--data-table--sticky-header.bx--data-table--short tr td.bx--table-expand,
.bx--data-table--sticky-header.bx--data-table--sm tr td.bx--table-expand {
  padding-top: 0.5rem;
}

.bx--data-table--sticky-header .bx--table-header-label {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 10px);
  padding-top: 0.9375rem;
  padding-bottom: 1rem;
  overflow-y: hidden;
}

.bx--data-table--sticky-header.bx--data-table--compact th .bx--table-header-label,
.bx--data-table--sticky-header.bx--data-table--xs th .bx--table-header-label {
  padding-top: 0.1875rem;
  padding-bottom: 0;
}

.bx--data-table--sticky-header.bx--data-table--short th .bx--table-header-label,
.bx--data-table--sticky-header.bx--data-table--sm th .bx--table-header-label {
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.bx--data-table--sticky-header.bx--data-table--tall th .bx--table-header-label,
.bx--data-table--sticky-header.bx--data-table--xl th .bx--table-header-label {
  padding-top: 1rem;
}

.bx--data-table--sticky-header.bx--data-table--tall th.bx--table-expand,
.bx--data-table--sticky-header.bx--data-table--xl th.bx--table-expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bx--data-table--sticky-header.bx--data-table--compact tr.bx--parent-row
.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--short tr.bx--parent-row
.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--xs tr.bx--parent-row
.bx--table-column-checkbox,
.bx--data-table--sticky-header.bx--data-table--sm tr.bx--parent-row
.bx--table-column-checkbox {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bx--data-table--max-width {
  max-width: 100%;
}

.bx--data-table--sticky-header {
  max-height: 18.75rem;
}

table .bx--form-item.bx--checkbox-wrapper:last-of-type {
  margin: 0;
}

.bx--data-table--short
.bx--form-item.bx--checkbox-wrapper:last-of-type,
.bx--data-table--compact
.bx--form-item.bx--checkbox-wrapper:last-of-type,
.bx--data-table--xs
.bx--form-item.bx--checkbox-wrapper:last-of-type,
.bx--data-table--sm
.bx--form-item.bx--checkbox-wrapper:last-of-type {
  margin: -0.1875rem 0;
}

@media screen and (-ms-high-contrast: active), (forced-colors: active), (prefers-contrast) {
  .bx--data-table-content {
    outline: 1px solid transparent;
  }
}

table tr.bx--parent-row:first-of-type td {
  border-top: 1px solid #e0e0e0;
}


.bx--header__nav {
    display: block;
}
